@charset "UTF-8";
/* CSS Document */
/* Created by x_terrain and noahjl for Erratic Verse. © 2011 Erratic Verse */

/* main objects */

#content {
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	width: 610px;
	height: 410px;
}

.bio {
	color: #666666;
}

blockquote {
	color: #666666;
}