@charset "UTF-8";
/* CSS Document */
/* Created by x_terrain and noahjl for Erratic Verse. © 2011 Erratic Verse */


/* links */

a {
	text-decoration: none;
	color: #666666;
}
a:visited {
	color: #666666;
}
a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

/* main objects */

body {
	background-color: #FFFFFF;
	font-family: Helvetica, Arial, Georgia, Sans-serif, Cursive;
}

#title {
	background-color: #FFFFFF;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	width: 650px;
	height: 118px;
	padding-top: 0px;
	padding-left: auto;
	padding-right: auto;
	padding-bottom: 1px;
	text-align: center;
	color: #FFF;
}

#nav {
	background-color: #CCCCCC;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	width: 650px;
	height: 30px;
	padding-top: 10px;
	padding-left: auto;
	padding-right: auto;
	padding-bottom: 0px;
	text-align: center;
	color: #FFFFFF;
}

#content {
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	width: 610px;
	height: 200px;
	
}

#poem {
	width: 330px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	height: 55px;
	background-color: #CCCCCC;
	color: #666666;
	padding: 20px 20px 20px 20px;
	line-height: 120%;
	text-size: .8em;
}

#aboutPic {
	width: 340px;
	margin-top: 50px;
	margin-left: 125px;
	margin-right: 125px;
	color: #666666;
	padding: 5px 5px 5px 5px;
}

#line {
	font-size: .9em;
}

#about {
	padding-left: 10px;
	padding-right: 10px;
	color: #666666;
	text-align: justify;
}

#textbox {
	width: 162px;
}

#myCounter {
	float: right;
}

.stuff {
	background: url('images/buttons/button_a.png');
}

#form1 {
	width: 400px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #666666;
}

#footer{
	background-color: #666666;
	margin-top: 0px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	width: 610px;
	height: 45px;
	color: #FFF;
	font-size: .9em;
}

/* buttons */

.mybutton {
	background-color: #CCCCCC;
	border: solid #666666 1px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.mybuttonhover {
	border: solid #000000 1px;
}

#buttons {
	overflow: hidden;
	width: 400px;
	margin-left: 11px;
	margin-right: 11px;
}

a.newbutton {
    background: transparent url('../images/buttons/button_a.png') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 26px;
    margin-right: 6px;
    padding-right: 10px; /* sliding doors padding */
    text-decoration: none;
}

a.newbutton span {
	background: transparent url('../images/buttons/button_span.png') no-repeat;
	display: block;
	line-height: 14px;
	padding: 6px 0px 6px 10px;
}

a.newbutton:active {
	background-position: bottom right;
	color: #000;
	outline: none;
}

a.newbutton:active span {
	background-position: bottom left;
	padding: 7px 0px 5px 10px;
}



/*fonts*/